@model BloodManagment.Mvc.ViewModels.BloodRequests.BloodRequestCardVM

<div class="col-md-4 mb-4">

    <div class="card p-3 shadow-sm">

        <div class="d-flex justify-content-between">

            <div>
                <h5>@Model.PatientName</h5>
                <small class="text-muted">@Model.Status</small>
            </div>

            <img src="/images/user.png" width="40" />

        </div>

        <hr />

        <p>الفصيلة: <strong>@Model.BloodGroup</strong></p>
        <p>الحالة: @Model.RequestType</p>
        <p>الموعد: @Model.RequiredDate.ToShortDateString()</p>

        <div class="d-flex gap-2">

            <button class="btn btn-outline-danger">
                <i class="bi bi-trash"></i>
            </button>

            <button class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#detailsModal">
                عرض
            </button>

            <button class="btn btn-outline-success">
                قبول
            </button>

        </div>

    </div>

</div>